WsHospital2/WebContent/wsdl/Servicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://capaServicio" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://capaServicio" xmlns:intf="http://capaServicio" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://capaServicio" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="buscarPersonaPorIdLocal">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPersonaPorIdLocalResponse">
    <complexType>
     <sequence>
      <element name="buscarPersonaPorIdLocalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPersonaLocalPorUuid">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPersonaLocalPorUuidResponse">
    <complexType>
     <sequence>
      <element name="buscarPersonaLocalPorUuidReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sincronizarPersonaToLocal">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sincronizarPersonaToLocalResponse">
    <complexType>
     <sequence>
      <element name="sincronizarPersonaToLocalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPacientePorNombre">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPacientePorNombreResponse">
    <complexType>
     <sequence>
      <element name="buscarPacientePorNombreReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="visitaPorPacienteUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="visitaPorPacienteUuidRestResponse">
    <complexType>
     <sequence>
      <element name="visitaPorPacienteUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="encuentroUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="encuentroUuidRestResponse">
    <complexType>
     <sequence>
      <element name="encuentroUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="encuentroPorPacienteUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="encuentroPorPacienteUuidRestResponse">
    <complexType>
     <sequence>
      <element name="encuentroPorPacienteUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarPaciente">
    <complexType>
     <sequence>
      <element name="jsonPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarPacienteResponse">
    <complexType>
     <sequence>
      <element name="registrarPacienteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sincronizarPaciente">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sincronizarPacienteResponse">
    <complexType>
     <sequence>
      <element name="sincronizarPacienteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPacienteBdLocalId">
    <complexType>
     <sequence>
      <element name="idPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPacienteBdLocalIdResponse">
    <complexType>
     <sequence>
      <element name="buscarPacienteBdLocalIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPacienteBdLocal">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarPacienteBdLocalResponse">
    <complexType>
     <sequence>
      <element name="buscarPacienteBdLocalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sincronizarMedicoToLocal">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sincronizarMedicoToLocalResponse">
    <complexType>
     <sequence>
      <element name="sincronizarMedicoToLocalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarCierreCasoMedico">
    <complexType>
     <sequence>
      <element name="json" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarCierreCasoMedicoResponse">
    <complexType>
     <sequence>
      <element name="registrarCierreCasoMedicoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerHoraMedica">
    <complexType>
     <sequence>
      <element name="idHora" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerHoraMedicaResponse">
    <complexType>
     <sequence>
      <element name="obtenerHoraMedicaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasPorIdPaciente">
    <complexType>
     <sequence>
      <element name="idPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasPorIdPacienteResponse">
    <complexType>
     <sequence>
      <element name="buscarHorasPorIdPacienteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasAPSPorIdPaciente">
    <complexType>
     <sequence>
      <element name="idPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasAPSPorIdPacienteResponse">
    <complexType>
     <sequence>
      <element name="buscarHorasAPSPorIdPacienteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasControlPorIdPaciente">
    <complexType>
     <sequence>
      <element name="idPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarHorasControlPorIdPacienteResponse">
    <complexType>
     <sequence>
      <element name="buscarHorasControlPorIdPacienteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaDiagnosticos">
    <complexType/>
   </element>
   <element name="obtenerListaDiagnosticosResponse">
    <complexType>
     <sequence>
      <element name="obtenerListaDiagnosticosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaActividades">
    <complexType/>
   </element>
   <element name="obtenerListaActividadesResponse">
    <complexType>
     <sequence>
      <element name="obtenerListaActividadesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerListaProcedimientos">
    <complexType/>
   </element>
   <element name="obtenerListaProcedimientosResponse">
    <complexType>
     <sequence>
      <element name="obtenerListaProcedimientosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarPersona">
    <complexType>
     <sequence>
      <element name="jsonPersona" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarPersonaResponse">
    <complexType>
     <sequence>
      <element name="registrarPersonaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="medicoUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="medicoUuidRestResponse">
    <complexType>
     <sequence>
      <element name="medicoUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mostrarPersonas">
    <complexType/>
   </element>
   <element name="mostrarPersonasResponse">
    <complexType>
     <sequence>
      <element name="mostrarPersonasReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mostrarPacientes">
    <complexType/>
   </element>
   <element name="mostrarPacientesResponse">
    <complexType>
     <sequence>
      <element name="mostrarPacientesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarMedicoOpen">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarMedicoOpenResponse">
    <complexType>
     <sequence>
      <element name="buscarMedicoOpenReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarRce">
    <complexType>
     <sequence>
      <element name="json" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registrarRceResponse">
    <complexType>
     <sequence>
      <element name="registrarRceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pacienteRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pacienteRestResponse">
    <complexType>
     <sequence>
      <element name="pacienteRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="medicoRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="medicoRestResponse">
    <complexType>
     <sequence>
      <element name="medicoRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="personaNameRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="personaNameRestResponse">
    <complexType>
     <sequence>
      <element name="personaNameRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="visitaUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="visitaUuidRestResponse">
    <complexType>
     <sequence>
      <element name="visitaUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pacienteUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="pacienteUuidRestResponse">
    <complexType>
     <sequence>
      <element name="pacienteUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="conceptoRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="conceptoRestResponse">
    <complexType>
     <sequence>
      <element name="conceptoRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="conceptoUuidRest">
    <complexType>
     <sequence>
      <element name="uuid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="conceptoUuidRestResponse">
    <complexType>
     <sequence>
      <element name="conceptoUuidRestReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerHCE">
    <complexType>
     <sequence>
      <element name="idPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerHCEResponse">
    <complexType>
     <sequence>
      <element name="obtenerHCEReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerIdHCE">
    <complexType>
     <sequence>
      <element name="idPaciente" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtenerIdHCEResponse">
    <complexType>
     <sequence>
      <element name="obtenerIdHCEReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="conceptoUuidRestRequest">

      <wsdl:part element="impl:conceptoUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPacienteBdLocalIdRequest">

      <wsdl:part element="impl:buscarPacienteBdLocalId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="encuentroUuidRestRequest">

      <wsdl:part element="impl:encuentroUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPersonaLocalPorUuidRequest">

      <wsdl:part element="impl:buscarPersonaLocalPorUuid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="encuentroUuidRestResponse">

      <wsdl:part element="impl:encuentroUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerHoraMedicaResponse">

      <wsdl:part element="impl:obtenerHoraMedicaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPersonaPorIdLocalRequest">

      <wsdl:part element="impl:buscarPersonaPorIdLocal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarRceResponse">

      <wsdl:part element="impl:registrarRceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPacienteBdLocalRequest">

      <wsdl:part element="impl:buscarPacienteBdLocal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="medicoRestRequest">

      <wsdl:part element="impl:medicoRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sincronizarMedicoToLocalResponse">

      <wsdl:part element="impl:sincronizarMedicoToLocalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pacienteRestRequest">

      <wsdl:part element="impl:pacienteRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="visitaUuidRestResponse">

      <wsdl:part element="impl:visitaUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sincronizarPacienteResponse">

      <wsdl:part element="impl:sincronizarPacienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="conceptoUuidRestResponse">

      <wsdl:part element="impl:conceptoUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPersonaPorIdLocalResponse">

      <wsdl:part element="impl:buscarPersonaPorIdLocalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="medicoUuidRestRequest">

      <wsdl:part element="impl:medicoUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaProcedimientosRequest">

      <wsdl:part element="impl:obtenerListaProcedimientos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mostrarPacientesResponse">

      <wsdl:part element="impl:mostrarPacientesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="encuentroPorPacienteUuidRestResponse">

      <wsdl:part element="impl:encuentroPorPacienteUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerIdHCEResponse">

      <wsdl:part element="impl:obtenerIdHCEResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarPacienteResponse">

      <wsdl:part element="impl:registrarPacienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarRceRequest">

      <wsdl:part element="impl:registrarRce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pacienteRestResponse">

      <wsdl:part element="impl:pacienteRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="visitaUuidRestRequest">

      <wsdl:part element="impl:visitaUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarCierreCasoMedicoRequest">

      <wsdl:part element="impl:registrarCierreCasoMedico" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarPersonaRequest">

      <wsdl:part element="impl:registrarPersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasControlPorIdPacienteRequest">

      <wsdl:part element="impl:buscarHorasControlPorIdPaciente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sincronizarPersonaToLocalRequest">

      <wsdl:part element="impl:sincronizarPersonaToLocal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="medicoRestResponse">

      <wsdl:part element="impl:medicoRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="medicoUuidRestResponse">

      <wsdl:part element="impl:medicoUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarMedicoOpenResponse">

      <wsdl:part element="impl:buscarMedicoOpenResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerHoraMedicaRequest">

      <wsdl:part element="impl:obtenerHoraMedica" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarPacienteRequest">

      <wsdl:part element="impl:registrarPaciente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="visitaPorPacienteUuidRestRequest">

      <wsdl:part element="impl:visitaPorPacienteUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPacientePorNombreResponse">

      <wsdl:part element="impl:buscarPacientePorNombreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasAPSPorIdPacienteResponse">

      <wsdl:part element="impl:buscarHorasAPSPorIdPacienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="conceptoRestRequest">

      <wsdl:part element="impl:conceptoRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasControlPorIdPacienteResponse">

      <wsdl:part element="impl:buscarHorasControlPorIdPacienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="encuentroPorPacienteUuidRestRequest">

      <wsdl:part element="impl:encuentroPorPacienteUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarMedicoOpenRequest">

      <wsdl:part element="impl:buscarMedicoOpen" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasPorIdPacienteRequest">

      <wsdl:part element="impl:buscarHorasPorIdPaciente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sincronizarPersonaToLocalResponse">

      <wsdl:part element="impl:sincronizarPersonaToLocalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="personaNameRestRequest">

      <wsdl:part element="impl:personaNameRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sincronizarPacienteRequest">

      <wsdl:part element="impl:sincronizarPaciente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasPorIdPacienteResponse">

      <wsdl:part element="impl:buscarHorasPorIdPacienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPacienteBdLocalResponse">

      <wsdl:part element="impl:buscarPacienteBdLocalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarPersonaResponse">

      <wsdl:part element="impl:registrarPersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerHCEResponse">

      <wsdl:part element="impl:obtenerHCEResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pacienteUuidRestResponse">

      <wsdl:part element="impl:pacienteUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaDiagnosticosResponse">

      <wsdl:part element="impl:obtenerListaDiagnosticosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mostrarPersonasRequest">

      <wsdl:part element="impl:mostrarPersonas" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mostrarPacientesRequest">

      <wsdl:part element="impl:mostrarPacientes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaActividadesRequest">

      <wsdl:part element="impl:obtenerListaActividades" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPacientePorNombreRequest">

      <wsdl:part element="impl:buscarPacientePorNombre" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="pacienteUuidRestRequest">

      <wsdl:part element="impl:pacienteUuidRest" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaProcedimientosResponse">

      <wsdl:part element="impl:obtenerListaProcedimientosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPacienteBdLocalIdResponse">

      <wsdl:part element="impl:buscarPacienteBdLocalIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarHorasAPSPorIdPacienteRequest">

      <wsdl:part element="impl:buscarHorasAPSPorIdPaciente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="visitaPorPacienteUuidRestResponse">

      <wsdl:part element="impl:visitaPorPacienteUuidRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mostrarPersonasResponse">

      <wsdl:part element="impl:mostrarPersonasResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registrarCierreCasoMedicoResponse">

      <wsdl:part element="impl:registrarCierreCasoMedicoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarPersonaLocalPorUuidResponse">

      <wsdl:part element="impl:buscarPersonaLocalPorUuidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="personaNameRestResponse">

      <wsdl:part element="impl:personaNameRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaDiagnosticosRequest">

      <wsdl:part element="impl:obtenerListaDiagnosticos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sincronizarMedicoToLocalRequest">

      <wsdl:part element="impl:sincronizarMedicoToLocal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerHCERequest">

      <wsdl:part element="impl:obtenerHCE" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerIdHCERequest">

      <wsdl:part element="impl:obtenerIdHCE" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="conceptoRestResponse">

      <wsdl:part element="impl:conceptoRestResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="obtenerListaActividadesResponse">

      <wsdl:part element="impl:obtenerListaActividadesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Servicio">

      <wsdl:operation name="buscarPersonaPorIdLocal">

         <wsdl:input message="impl:buscarPersonaPorIdLocalRequest" name="buscarPersonaPorIdLocalRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarPersonaPorIdLocalResponse" name="buscarPersonaPorIdLocalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPersonaLocalPorUuid">

         <wsdl:input message="impl:buscarPersonaLocalPorUuidRequest" name="buscarPersonaLocalPorUuidRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarPersonaLocalPorUuidResponse" name="buscarPersonaLocalPorUuidResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sincronizarPersonaToLocal">

         <wsdl:input message="impl:sincronizarPersonaToLocalRequest" name="sincronizarPersonaToLocalRequest">

       </wsdl:input>

         <wsdl:output message="impl:sincronizarPersonaToLocalResponse" name="sincronizarPersonaToLocalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPacientePorNombre">

         <wsdl:input message="impl:buscarPacientePorNombreRequest" name="buscarPacientePorNombreRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarPacientePorNombreResponse" name="buscarPacientePorNombreResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="visitaPorPacienteUuidRest">

         <wsdl:input message="impl:visitaPorPacienteUuidRestRequest" name="visitaPorPacienteUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:visitaPorPacienteUuidRestResponse" name="visitaPorPacienteUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="encuentroUuidRest">

         <wsdl:input message="impl:encuentroUuidRestRequest" name="encuentroUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:encuentroUuidRestResponse" name="encuentroUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="encuentroPorPacienteUuidRest">

         <wsdl:input message="impl:encuentroPorPacienteUuidRestRequest" name="encuentroPorPacienteUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:encuentroPorPacienteUuidRestResponse" name="encuentroPorPacienteUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarPaciente">

         <wsdl:input message="impl:registrarPacienteRequest" name="registrarPacienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarPacienteResponse" name="registrarPacienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sincronizarPaciente">

         <wsdl:input message="impl:sincronizarPacienteRequest" name="sincronizarPacienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:sincronizarPacienteResponse" name="sincronizarPacienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPacienteBdLocalId">

         <wsdl:input message="impl:buscarPacienteBdLocalIdRequest" name="buscarPacienteBdLocalIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarPacienteBdLocalIdResponse" name="buscarPacienteBdLocalIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPacienteBdLocal">

         <wsdl:input message="impl:buscarPacienteBdLocalRequest" name="buscarPacienteBdLocalRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarPacienteBdLocalResponse" name="buscarPacienteBdLocalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sincronizarMedicoToLocal">

         <wsdl:input message="impl:sincronizarMedicoToLocalRequest" name="sincronizarMedicoToLocalRequest">

       </wsdl:input>

         <wsdl:output message="impl:sincronizarMedicoToLocalResponse" name="sincronizarMedicoToLocalResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarCierreCasoMedico">

         <wsdl:input message="impl:registrarCierreCasoMedicoRequest" name="registrarCierreCasoMedicoRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarCierreCasoMedicoResponse" name="registrarCierreCasoMedicoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerHoraMedica">

         <wsdl:input message="impl:obtenerHoraMedicaRequest" name="obtenerHoraMedicaRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerHoraMedicaResponse" name="obtenerHoraMedicaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarHorasPorIdPaciente">

         <wsdl:input message="impl:buscarHorasPorIdPacienteRequest" name="buscarHorasPorIdPacienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarHorasPorIdPacienteResponse" name="buscarHorasPorIdPacienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarHorasAPSPorIdPaciente">

         <wsdl:input message="impl:buscarHorasAPSPorIdPacienteRequest" name="buscarHorasAPSPorIdPacienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarHorasAPSPorIdPacienteResponse" name="buscarHorasAPSPorIdPacienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarHorasControlPorIdPaciente">

         <wsdl:input message="impl:buscarHorasControlPorIdPacienteRequest" name="buscarHorasControlPorIdPacienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarHorasControlPorIdPacienteResponse" name="buscarHorasControlPorIdPacienteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaDiagnosticos">

         <wsdl:input message="impl:obtenerListaDiagnosticosRequest" name="obtenerListaDiagnosticosRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListaDiagnosticosResponse" name="obtenerListaDiagnosticosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaActividades">

         <wsdl:input message="impl:obtenerListaActividadesRequest" name="obtenerListaActividadesRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListaActividadesResponse" name="obtenerListaActividadesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaProcedimientos">

         <wsdl:input message="impl:obtenerListaProcedimientosRequest" name="obtenerListaProcedimientosRequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerListaProcedimientosResponse" name="obtenerListaProcedimientosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarPersona">

         <wsdl:input message="impl:registrarPersonaRequest" name="registrarPersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarPersonaResponse" name="registrarPersonaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="medicoUuidRest">

         <wsdl:input message="impl:medicoUuidRestRequest" name="medicoUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:medicoUuidRestResponse" name="medicoUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mostrarPersonas">

         <wsdl:input message="impl:mostrarPersonasRequest" name="mostrarPersonasRequest">

       </wsdl:input>

         <wsdl:output message="impl:mostrarPersonasResponse" name="mostrarPersonasResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mostrarPacientes">

         <wsdl:input message="impl:mostrarPacientesRequest" name="mostrarPacientesRequest">

       </wsdl:input>

         <wsdl:output message="impl:mostrarPacientesResponse" name="mostrarPacientesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarMedicoOpen">

         <wsdl:input message="impl:buscarMedicoOpenRequest" name="buscarMedicoOpenRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarMedicoOpenResponse" name="buscarMedicoOpenResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarRce">

         <wsdl:input message="impl:registrarRceRequest" name="registrarRceRequest">

       </wsdl:input>

         <wsdl:output message="impl:registrarRceResponse" name="registrarRceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pacienteRest">

         <wsdl:input message="impl:pacienteRestRequest" name="pacienteRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:pacienteRestResponse" name="pacienteRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="medicoRest">

         <wsdl:input message="impl:medicoRestRequest" name="medicoRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:medicoRestResponse" name="medicoRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="personaNameRest">

         <wsdl:input message="impl:personaNameRestRequest" name="personaNameRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:personaNameRestResponse" name="personaNameRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="visitaUuidRest">

         <wsdl:input message="impl:visitaUuidRestRequest" name="visitaUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:visitaUuidRestResponse" name="visitaUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pacienteUuidRest">

         <wsdl:input message="impl:pacienteUuidRestRequest" name="pacienteUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:pacienteUuidRestResponse" name="pacienteUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="conceptoRest">

         <wsdl:input message="impl:conceptoRestRequest" name="conceptoRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:conceptoRestResponse" name="conceptoRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="conceptoUuidRest">

         <wsdl:input message="impl:conceptoUuidRestRequest" name="conceptoUuidRestRequest">

       </wsdl:input>

         <wsdl:output message="impl:conceptoUuidRestResponse" name="conceptoUuidRestResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerHCE">

         <wsdl:input message="impl:obtenerHCERequest" name="obtenerHCERequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerHCEResponse" name="obtenerHCEResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerIdHCE">

         <wsdl:input message="impl:obtenerIdHCERequest" name="obtenerIdHCERequest">

       </wsdl:input>

         <wsdl:output message="impl:obtenerIdHCEResponse" name="obtenerIdHCEResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioSoapBinding" type="impl:Servicio">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="buscarPersonaPorIdLocal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarPersonaPorIdLocalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarPersonaPorIdLocalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPersonaLocalPorUuid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarPersonaLocalPorUuidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarPersonaLocalPorUuidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sincronizarPersonaToLocal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sincronizarPersonaToLocalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sincronizarPersonaToLocalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPacientePorNombre">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarPacientePorNombreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarPacientePorNombreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="visitaPorPacienteUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="visitaPorPacienteUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="visitaPorPacienteUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="encuentroUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="encuentroUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="encuentroUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="encuentroPorPacienteUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="encuentroPorPacienteUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="encuentroPorPacienteUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarPaciente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarPacienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarPacienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sincronizarPaciente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sincronizarPacienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sincronizarPacienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPacienteBdLocalId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarPacienteBdLocalIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarPacienteBdLocalIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarPacienteBdLocal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarPacienteBdLocalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarPacienteBdLocalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sincronizarMedicoToLocal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sincronizarMedicoToLocalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sincronizarMedicoToLocalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarCierreCasoMedico">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarCierreCasoMedicoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarCierreCasoMedicoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerHoraMedica">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerHoraMedicaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerHoraMedicaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarHorasPorIdPaciente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarHorasPorIdPacienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarHorasPorIdPacienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarHorasAPSPorIdPaciente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarHorasAPSPorIdPacienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarHorasAPSPorIdPacienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarHorasControlPorIdPaciente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarHorasControlPorIdPacienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarHorasControlPorIdPacienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaDiagnosticos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListaDiagnosticosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListaDiagnosticosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaActividades">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListaActividadesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListaActividadesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerListaProcedimientos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerListaProcedimientosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerListaProcedimientosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarPersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarPersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarPersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="medicoUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="medicoUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="medicoUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mostrarPersonas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mostrarPersonasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mostrarPersonasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mostrarPacientes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mostrarPacientesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mostrarPacientesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarMedicoOpen">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarMedicoOpenRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarMedicoOpenResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registrarRce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registrarRceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registrarRceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pacienteRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pacienteRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="pacienteRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="medicoRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="medicoRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="medicoRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="personaNameRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="personaNameRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="personaNameRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="visitaUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="visitaUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="visitaUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="pacienteUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="pacienteUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="pacienteUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="conceptoRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="conceptoRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="conceptoRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="conceptoUuidRest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="conceptoUuidRestRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="conceptoUuidRestResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerHCE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerHCERequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerHCEResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="obtenerIdHCE">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtenerIdHCERequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtenerIdHCEResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioService">

      <wsdl:port binding="impl:ServicioSoapBinding" name="Servicio">

         <wsdlsoap:address location="http://localhost:8080/WsHospital2/services/Servicio"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
